/* products 1~4 */
.dog-product-1 {
  background: url(../../public/assets/img/product-1.jpg) no-repeat center;
  background-size: cover;
  min-height: 42.8rem;
  src: 'https://checkout.stripe.com/c/pay/cs_test_a15fkh80ulPh6yNN0VadNVJfeVQqUXGfAWhRuIlmpoGceH8GD2PH9UpNvS#fidkdWxOYHwnPyd1blpxYHZxWjA0SGFyU1VBQm1yPWAyaTZ2dzZAbDFOXFxUc1Z%2FdDNWXXZJZkljfHZzaH1VNXFDfGdzVXxtYDRPcEw8RmdWQ0FscVFBR1JxXUxnaGtzMkk0VUR3SEBpYEszNTVEXE5%2FPUg2bScpJ3VpbGtuQH11anZgYUxhJz8ncWB2cVpjX2A1NEpiXW09bHU1XGpnTEsneCUl';
}

.dog-product-2 {
  background: url(../../public/assets/img/product-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 42.8rem;
}

.dog-product-3 {
  background: url(../../public/assets/img/product-3.jpg) no-repeat center;
  background-size: cover;
  min-height: 42.8rem;
}

.dog-product-4 {
  background: url(../../public/assets/img/product-4.jpg) no-repeat center;
  background-size: cover;
  min-height: 42.8rem;
}

/* margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Set width to 100% for .about-us and .adopt-flex */
.about-us, .adopt-flex {
  width: 100%;
}

/* Other styles remain the same */
.about-us {
  margin-bottom: 5.6rem;
}

.left-col {
  /* background-color: #fed201; */
  background-color: #d2aad2;
  padding: 1rem 2rem;
}

.right-col {
  background: url(../../public/assets/img/about.jpg) no-repeat center;
  background-size: cover;
  min-height: 42.8rem;
}

.article-paragraph {
  font-size: 1.6rem;
  line-height: 1.5;
}

.flex {
  /* background: #1a75bc; */
  background: lightblue;
  display: flex;
  align-items: center;
  margin-top: 4em;
  max-height: 50rem;
  margin-bottom: 9.6rem;
}

.sponsor-products {
  /* background: #1a75bc; */
  background: rgb(97, 219, 114);
  display: flex;
  align-items: center;
  margin-top: 4em;
  max-height: 50rem;
  margin-bottom: 9.6rem;
}

.breeds-wrapper-title {
  font-size: 4rem;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 0.8em;
  font-weight: 600;
  text-align: center;
  position: relative;
}
